body{
    background: transparent;
}
.navbar-brand {
    font-size: 1.5em;
}

.backgroundImg:before {

    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50em;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.border-success {
    border:1px,solid,green;
}

.backgroundImg {
    position: relative;
    z-index: 1;
}

.headline_text {
    font-size: 1.5em;
    color: rgb(99, 96, 96);
    font-weight: bold;
}

.noteText {
    font-size: 1em;
    color: black;
}