body{
    background: transparent;
}
.navbar-brand {
    font-size: 1.5em;
}

.backgroundImg:before {

    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60em;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.backgroundImg {
    position: relative;
    z-index: 1;
}

.headline_text {
    font-size: 1.5em;
    color: rgb(99, 96, 96);
    font-weight: bold;
}

.noteText {
    font-size: 1em;
    color: black;
}

.allImg .text-center{
    background: lightgreen;
    font-size: 1.1em;
    font-weight: bold;
}

.playerImg .text-center{
    background: lightblue;
    font-size: 1.1em;
    font-weight: bold;
}

.enemyImg .text-center {
    background: lightcoral;
    font-size: 1.1em;
    font-weight: bold;
}

.defendImg .text-center {
    background: orange;
    font-size: 1.1em;
    font-weight: bold;
}

.resultDisplay {
    margin-top: 1.5em;
    font-size: 1.3em;
    color: blue;
    font-weight: bolder;
    text-align: center;
}